<% rails_icon = 'https://pbs.twimg.com/profile_images/691206086955790336/CDMbA57p_400x400.png' %>
<% ruby_icon = 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/2048px-Ruby_logo.svg.png' %>
<% js_icon = 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png' %>
<% html_icon = 'https://cdn-icons-png.flaticon.com/512/732/732212.png' %>
<% css_icon = 'https://cdn4.iconfinder.com/data/icons/iconsimple-programming/512/css-512.png' %>
<% python_icon = 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png' %>
<% xml_icon = 'https://www.psdevwiki.com/vita/images/f/fb/Xml-logo.png' %>
<% java_icon = 'https://www.shareicon.net/data/512x512/2016/09/23/833700_windows_512x512.png' %>
<% bash_logo = 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Bash_Logo_Colored.svg/2048px-Bash_Logo_Colored.svg.png' %>
<div class="row project-card mb-5 w-80">
  <div class="col-4 p-3 d-flex align-items-center justify-content-center">
    <%= image_tag img_link, alt: "Project Image", class: "card-pic" %>
  </div>
  <div class="col-8 p-3">
    <%= link_to github_link, class: 'proj-head m-0 text-decoration-none' do %>
      <%= project_title %>
      <%= content_tag(:i, '', class: 'fa-brands fa-github') %>
    <% end %>
    <p class="proj-p"><%= project_text %></p>
    <div class="d-flex gap-2 justify-content-end">
      <% stack_icons = { 'js' => js_icon, 'ruby' => ruby_icon, 'rails' => rails_icon, 'html' => html_icon, 'css' => css_icon, 'python' => python_icon, 'xml' => xml_icon, 'java' => java_icon, 'bash' => bash_logo } %>
      <% project_stack.each do |stack| %>
        <% if stack_icons.key?(stack.downcase) %>
          <%= image_tag stack_icons[stack.downcase], alt: "#{stack} Icon", class: "stack-pic" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
