<!-- app/views/your_controller_name/home.html.erb -->
<div id="background"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.21/vanta.globe.min.js"></script>
<script>
  VANTA.GLOBE({
    el: "#background",
    color: 0x6a4c93,
    color2: 0xff3f81,
    backgroundColor: 0x1d1b1d,
    size: 1.6,
    speed: 0.2
  });
</script>
<div class="content">
  <div class="row w-100 h-100">
    <div class="col-md-6 d-flex align-items-center justify-content-start h-100">
      <%= render 'cta_card' %>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center h-100">
      <!-- Add content here if needed -->
    </div>
  </div>
</div>
<div class="container d-flex flex-column align-content-center">
  <div id="projects" class="row gap-4 justify-content-center">
    <div class="col custom-card-width">
      <%= render partial: 'project_card', locals: { img_link: 'https://cdn-icons-png.flaticon.com/512/7011/7011353.png', project_text: 'An automation app used for creating short-form story videos for social media.', project_title: 'Shortify', github_link: 'https://github.com/dev-stan/shortify', project_stack: ['rails', 'js', 'html', 'css'] } %>
    </div>
    <div class="col custom-card-width">
      <%= render partial: 'project_card', locals: { img_link: 'https://cdn-icons-png.flaticon.com/512/2152/2152502.png', project_text: 'Simple block chain technology application using Python.', project_title: 'Freechain', github_link: 'https://github.com/dev-stan/freechain', project_stack: ['python', 'html', 'css'] } %>
    </div>
    <div class="col custom-card-width">
      <%= render partial: 'project_card', locals: { img_link: 'https://cdn-icons-png.flaticon.com/512/11132/11132347.png', project_text: 'Similar to AirBnb, enables users to rent out and borrow dogs in their area.', project_title: 'DogBnB', github_link: 'https://github.com/kimtecson/share-your-dog', project_stack: ['rails', 'js', 'html', 'css'] } %>
    </div>
  </div>
  <div id="projects" class="row gap-4 justify-content-center">
    <div class="col custom-card-width">
      <%= render partial: 'project_card', locals: { img_link: 'https://cdn-icons-png.flaticon.com/512/7011/7011353.png', project_text: 'An automation app used for creating short-form story videos for social media.', project_title: 'Shortify', github_link: 'https://github.com/dev-stan/shortify', project_stack: ['rails', 'js', 'html', 'css'] } %>
    </div>
    <div class="col custom-card-width">
      <%= render partial: 'project_card', locals: { img_link: 'https://cdn-icons-png.flaticon.com/512/2152/2152502.png', project_text: 'Simple block chain technology application using Python.', project_title: 'Freechain', github_link: 'https://github.com/dev-stan/freechain', project_stack: ['python', 'html', 'css'] } %>
    </div>
    <div class="col custom-card-width">
      <%= render partial: 'project_card', locals: { img_link: 'https://cdn-icons-png.flaticon.com/512/11132/11132347.png', project_text: 'Similar to AirBnb, enables users to rent out and borrow dogs in their area.', project_title: 'DogBnB', github_link: 'https://github.com/kimtecson/share-your-dog', project_stack: ['rails', 'js', 'html', 'css'] } %>
    </div>
  </div>
</div>
